<div class="container-fluid top-live-games widget">
  <div class="row">
    <div class="col-md-2">
      <h4 class="light-green-header mb-0 pt-2 pb-2 pl-2 pr-2 mt-3">Top Live Games</h4>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action pt-1 pb-1">
            <span class="row align-items-center">
              <div class="col-md-1 p-0">
                <div appSvg svgId="baseball"></div>
              </div>
              <div class="col-md-11 pl-2 pr-1">
                <span class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</span>
                <b class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</b>
                <span class="d-block text-truncate">2nd set   | Total Sets: 1 - 0   | Game Score: 4 - 3</span>
              </div>
            </span>
        </button>
        <button type="button" class="list-group-item list-group-item-action pt-1 pb-1">
            <span class="row align-items-center">
              <div class="col-md-1 p-0">
                  <div appSvg svgId="tennis"></div>
              </div>
              <div class="col-md-11 pl-2 pr-1">
                <span class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</span>
                <b class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</b>
                <span class="d-block text-truncate">2nd set   | Total Sets: 1 - 0   | Game Score: 4 - 3</span>
              </div>
            </span>
        </button>
        <button type="button" class="list-group-item list-group-item-action pt-1 pb-1">
            <span class="row align-items-center">
              <div class="col-md-1 p-0">
                  <div appSvg svgId="cricket"></div>
              </div>
              <div class="col-md-11 pl-2 pr-1">
                <span class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</span>
                <b class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</b>
                <span class="d-block text-truncate">2nd set   | Total Sets: 1 - 0   | Game Score: 4 - 3</span>
              </div>
            </span>
        </button>        
        <button type="button" class="list-group-item list-group-item-action pt-1 pb-1">
            <span class="row align-items-center">
              <div class="col-md-1 p-0">
                  <div appSvg svgId="motorsport"></div>
              </div>
              <div class="col-md-11 pl-2 pr-1">
                <span class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</span>
                <b class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</b>
                <span class="d-block text-truncate">2nd set   | Total Sets: 1 - 0   | Game Score: 4 - 3</span>
              </div>
            </span>
        </button>                 
      </div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-2"></div>
  </div>
</div>