<div class="header-container" #mainHeader>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="navbar-nav flex-row ml-md-auto d-md-flex">
            <form action="">
                <div class="form-row">
                    <div class="col-sm-12 col-md-5">
                        <div class="input-group-prepend">
                            <div class="input-group">
                                <span class="input-group-text bg-primary text-white">+27</span>
                                <input type="text" class="form-control" placeholder="Mobile Number">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="input-group-prepend align-items-start flex-wrap">
                            <input type="text" class="form-control" placeholder="Password">
                            <a class="text-right" href="">Forgot Password</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="input-group-append">
                            <button class="btn btn-primary mr-2 col-6 col-md-auto" type="submit">Login</button>
                            <button class="btn btn-primary col-6 col-md-auto" type="button">Sign Up</button>
                        </div>                
                    </div>
                </div>
            </form>
        </div>
    </header>
</div>