<!-- Left Side Nav -->
<div class="container-fluid top-live-games ">
    <div class="row">
      <div class="col-md-2 widget">
        <h4 class="light-green-header mb-0 pt-2 pb-2 pl-2 pr-2 mt-3">Top Live Games</h4>
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action pt-1 pb-1">
              <span class="row align-items-center">
                <div class="col-md-1 p-0">
                  <div appSvg svgId="baseball"></div>
                </div>
                <div class="col-md-11 pl-2 pr-1">
                  <span class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</span>
                  <b class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</b>
                  <span class="d-block text-truncate">2nd set   | Total Sets: 1 - 0   | Game Score: 4 - 3</span>
                </div>
              </span>
          </button>
          <button type="button" class="list-group-item list-group-item-action pt-1 pb-1">
              <span class="row align-items-center">
                <div class="col-md-1 p-0">
                    <div appSvg svgId="tennis"></div>
                </div>
                <div class="col-md-11 pl-2 pr-1">
                  <span class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</span>
                  <b class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</b>
                  <span class="d-block text-truncate">2nd set   | Total Sets: 1 - 0   | Game Score: 4 - 3</span>
                </div>
              </span>
          </button>
          <button type="button" class="list-group-item list-group-item-action pt-1 pb-1">
              <span class="row align-items-center">
                <div class="col-md-1 p-0">
                    <div appSvg svgId="cricket"></div>
                </div>
                <div class="col-md-11 pl-2 pr-1">
                  <span class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</span>
                  <b class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</b>
                  <span class="d-block text-truncate">2nd set   | Total Sets: 1 - 0   | Game Score: 4 - 3</span>
                </div>
              </span>
          </button>        
          <button type="button" class="list-group-item list-group-item-action pt-1 pb-1">
              <span class="row align-items-center">
                <div class="col-md-1 p-0">
                    <div appSvg svgId="motorsport"></div>
                </div>
                <div class="col-md-11 pl-2 pr-1">
                  <span class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</span>
                  <b class="d-block text-truncate">11 May  ITF Ukraine F1, Men Singles</b>
                  <span class="d-block text-truncate">2nd set   | Total Sets: 1 - 0   | Game Score: 4 - 3</span>
                </div>
              </span>
          </button>                 
        </div>
      </div>
      <div class="col-md-8">
        <!-- Content area -->
    <div class="row">
      <div class="col main-content-container">
      <!-- Banner -->
        <img src="../../../assets/images/$1millionPredictor_SA_Offer_Desktop.jpg" class="img-fluid theme-banner" alt="Responsive image">
        <!-- Games -->

            <app-tabs ulClass="clearfix games-tabs p-0 m-0" liClass="games-tab">
              <app-tab title="Soccer" svgType="soccer" tabClass="p-2">
                  Soccer page
              </app-tab>
              <app-tab title="Rugby" svgType="RUGBY" tabClass="p-2">
                Rugby page
              </app-tab>
              <app-tab title="Tennis" svgType="tennis" tabClass="p-2">
                Tennis page
              </app-tab>
              <app-tab title="Basketball" svgType="basketball" tabClass="p-2">
                Basketball page
              </app-tab>
              <app-tab title="Cricket" svgType="cricket" tabClass="p-2">
                Cricket page
              </app-tab>
              <app-tab title="Baseball" svgType="baseball" tabClass="p-2">
                Baseball page
              </app-tab>
              <app-tab title="Motorsport" svgType="motorsport" tabClass="p-2">
                Motorsport page
              </app-tab>
              <app-tab title="Golf" svgType="golf" tabClass="p-2">
                Golf page
              </app-tab>
              <app-tab title="Ice Hockey" svgType="ice_hockey" tabClass="p-2">
                Ice Hockey page
              </app-tab>
              <app-tab title="Boxing" svgType="boxing" tabClass="p-2">
                Boxing page
              </app-tab>
            </app-tabs>

          <!-- Filters -->
          <div class="dropdown pb-3">
            <button class="btn btn-gray-400 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <button class="btn btn-gray-400 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
          </div>
          <!-- Middle Nav Container -->
          <div class="bg-primary clearfix">
          <button type="button" class="btn btn-primary float-left"><strong>Highlights</strong></button>
          <button type="button" class="btn btn-primary float-left"><strong>Highlights</strong></button>
          <button type="button" class="btn btn-primary float-left"><strong>Highlights</strong></button>
          </div>
    <!-- Subsection -->
    <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit. In eget.</th>
          <td><button class="btn btn-lg btn-block btn-fd btn-primary"><span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span></button></td>
          <td><button class="btn btn-lg btn-block btn-fd btn-fd-primary"><span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span></button></td>
          <td><button class="btn btn-lg btn-block btn-fd btn-fd-primary"><span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span></button></td>
          <td><button class="btn btn-secondary btn-xs" >Small<br />Btn</button></td>
          <td><button class="btn btn-secondary btn-xs" >Small<br />Btn</button></td>
        </tr>
        <tr>
          <th scope="row">Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit. In eget.</th>
          <td><button class="btn btn-lg btn-block btn-fd btn-fd-primary"><span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span></button></td>
          <td><button class="btn btn-lg btn-block btn-fd btn-primary"><span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span></button></td>
          <td><button class="btn btn-lg btn-block btn-fd btn-fd-primary"><span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span></button></td>
          <td><button class="btn btn-secondary btn-xs" >Small<br />Btn</button></td>
          <td><button class="btn btn-secondary btn-xs" >Small<br />Btn</button></td>
        </tr>
        <tr>
          <th scope="row">Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit. In eget.</th>
          <td><button class="btn btn-lg btn-block btn-fd btn-fd-primary"><span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span></button></td>
          <td><button class="btn btn-lg btn-block btn-fd btn-fd-primary"><span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span></button></td>
          <td><button class="btn btn-lg btn-block btn-fd btn-primary"><span class="float-left">Active example</span>&nbsp;<span class="float-right">Feed</span></button></td>
          <td><button class="btn btn-secondary btn-xs" >Small<br />Btn</button></td>
          <td><button class="btn btn-secondary btn-xs" >Small<br />Btn</button></td>
        </tr>
        </tbody>
    </table>
        <!-- Content area -->
        <div class="accordion pb-1">
            <div class="accordion-hearder border">
                This is an closed example
                <button type="button" class="close mt-2" aria-label="Close">
                  <span aria-hidden="true">&gt;</span>
                </button>
            </div>
          </div>
          <div class="accordion pb-1">
              <div class="accordion-hearder border">
                  This is an closed example
                  <button type="button" class="close mt-2" aria-label="Close">
                    <span aria-hidden="true">&gt;</span>
                  </button>
              </div>
            </div>
            <div class="accordion pb-3">
                <div class="accordion-hearder border">
                    This is an closed example
                    <button type="button" class="close mt-2" aria-label="Close">
                      <span aria-hidden="true">&gt;</span>
                    </button>
                </div>
              </div>
          </div>
      </div>
    </div>
 
      <div class="col-md-2 pt-3">
        <h4 class="bg-primary text-white p-2 m-0"><strong>Betslip</strong></h4>
        <app-tabs ulClass="clearfix bslip-tabs p-0 m-0" liClass="bslip-tab">
          <app-tab title="Single Bet" tabClass="bg-gray-300 p-2">
            Single bet are very nice.
          </app-tab>
          <app-tab title="Multi Bet" tabClass="bg-gray-300 p-2">
            Multi bets are sexy
          </app-tab>
        </app-tabs>
      </div>
      <!-- <img src="../../../assets/images/Capture.PNG"/> -->
    </div>
  </div>
  
  <!-- Footer -->
  <!-- <div id="footer-upper" class="footer-up pt-5 pb-4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 row">
              <ul *ngFor="let footerNavListUL of footerNavListULTemp; let i = index" class="col-12 col-sm-6 col-md-4 list-unstyled">
                  <li class="mb-1" *ngFor="let footerNavItem of footerNavArray.slice(navListRowLength*i, navListRowLength*i + navListRowLength);">
                      <a class="text-white" routerLink="{{ footerNavItem.P }}">{{ footerNavItem.MC }}</a>
                  </li>
              </ul>
          </div>
          <div class="col-12 col-md-6">
            Footer logos
          </div>
        </div>
      </div>
    </div>
    <div id="footer-lower" class="footer-lw pt-4 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center text-white">
            Raging River Trading (Pty) Ltd (2011/134505/07) trading as Betway South Africa, is licensed and regulated by the Western Cape Gambling and Racing Board. Bookmaker License Number: 10181496-004 . No persons under the age of 18 years are permitted to gamble. Winners know when to stop. National Responsible Gambling Programme: 0800 006 008. Warning: Gambling involves risk. By gambling on this website, you run the risk that you may lose.
          </p>
        </div>
      </div>
    </div>
  </div> -->