<!-- <app-nav-bar></app-nav-bar> -->
<div class="container">
    <div class="row">
        <div class="col-twelve grid">
          <h1>Betway Styles</h1>
          <h3>Simple CSS framework for Web Team.</h3>
        </div>
      </div>

      <!-- <app-typography></app-typography>
      <app-buttons></app-buttons> -->

          <!-- <app-tabs [vertical]="true">
              <app-tab title="Buttons">
                  <app-buttons></app-buttons>
              </app-tab>
              <app-tab title="Typography">
                <app-typography></app-typography>
              </app-tab>
            </app-tabs> -->
</div>
