<app-tabs ulClass="nav col-12 bg-grey-sec">
  <app-tab title="Content area" tabClass="container clearfix">
    <app-content></app-content>
  </app-tab>
  <app-tab title="Modals" tabClass="container clearfix">
    <app-modals></app-modals>
  </app-tab>
  <app-tab title="Footer" tabClass="clearfix">
    <app-footer></app-footer>
  </app-tab>
  <app-tab title="Header Login Reg" tabClass="clearfix">
    <app-headerloginreg></app-headerloginreg>
  </app-tab>    
  <app-tab title="Top Live Games" tabClass="clearfix">
    <app-toplivegames></app-toplivegames>
  </app-tab>  
  <app-tab title="Theme" tabClass="clearfix">
      <app-theme></app-theme>
  </app-tab>  
</app-tabs>
